body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
  /* Fondo blanco no tan brillante */
}

.cabezera {
  width: 100%;
  height: 100vh;
  background: #151477;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, hsla(256, 100%, 47%, 0.459), hsla(0, 45%, 52%, 0.664)), url(apartados/Imagenes/imgSlide1.jpg);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, hsla(239, 95%, 50%, 0.459), hsla(2, 45%, 52%, 0.664)), url(apartados/Imagenes/imgSlide1.jpg);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.titulazo {
  font-size: x-large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(48, 77, 163);
  z-index: 1;
  display: flex;
  justify-content: initial;
}

.titulazo h1 {
  margin-right: 230px;
}

.LogoTitulo {
  margin-right: 200px;
  width: 130px;
  height: auto;
}

.LogoTitulo1 {
  width: 130px;
  height: auto;
}

main {
  background-color: #f0eeee;
}


.navbar {
  font-family: Arial, Helvetica, sans-serif;
  position: sticky;
  background-color: rgb(48, 77, 163);
  overflow: hidden;
  top: 0;
  z-index: 1;
  padding: 20px;
  margin-bottom: 100px;
}

.navbar a {
  text-decoration: none;
  color: white;
  padding: 25px 35px;
  transition: 0.4s linear;
}

.Ins {
  background-color: red;
}

.navbar a:hover {
  background-color: #fff;
  color: #333;
}

.bloque-con-sombras {
  width: 100%;
  max-width: fit-content;
  margin: 20px auto;
  /* Añadido margen en la parte superior e inferior */
  padding: 20px;
  box-shadow: 0 0 15px rgba(68, 0, 255, 0.486);
  /* Sombras en los bordes */
  background-color: #fff;
  /* Fondo blanco */
  text-align: center;
  position: relative;
}

.bloque-con-sombras h2 {
  margin-bottom: 10px;
  color: #333;
  /* Color del título */
}

.bloque-con-sombras p {
  margin: 10px 0;
  color: #666;
  /* Color del texto */
}

.ContenidoValores {
  display: flex;
  justify-items: center;
}

.ContenidoValores div {
  margin-right: 10px;
  margin-left: 10px;
}